body {
  font-family: 'SamsungSharpSans-Medium', 'SamsungOneKorean-400', 'Google Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f9;
  color: #3c4043;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-body {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent scrollbars on the body */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-window {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 0;
}

.message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.user-message {
  align-self: flex-end;
  align-items: flex-end;
}

.bot-message {
  align-self: flex-start;
  align-items: flex-start;
}

.message p {
  margin: 0;
  padding: 0;
  border-radius: 0;
  max-width: 100%;
  word-wrap: break-word;
}

.message-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message .message-bubble {
  background-color: #e7f0fe;
  color: #1967d2;
  border-bottom-right-radius: 5px;
  font-size: 1.2rem;
}

.bot-message .message-bubble {
  background-color: #f1f3f4;
  color: #3c4043;
  border-bottom-left-radius: 5px;
  font-size: 1.2rem;
}

.bot-message .message-bubble:has(> table) {
  max-width: 95%;
}

.bot-message table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.bot-message td, .bot-message th {
  border: 1px solid #dfe1e5;
  padding: 8px;
  text-align: left;
}

.chat-input {
  display: flex;
  padding: 20px;
  background-color: #f1f3f4;
}

.chat-input input {
  font-family: 'SamsungSharpSans-Medium', 'SamsungOneKorean-400', 'Google Sans', sans-serif;
  flex-grow: 1;
  border: 1px solid #dfe1e5;
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 1rem;
}

.chat-input input:focus {
  outline: none;
  border-color: #1967d2;
}

.chat-input button {
  font-family: 'SamsungSharpSans-Bold', 'SamsungOneKorean-700', 'Google Sans', sans-serif;
  background-color: #1967d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5px;
}

.chat-input button:hover {
  background-color: #185abc;
}

.typing-indicator {
  display: flex;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  max-width: 70%;
  align-self: flex-start;
  background-color: #f0f4f9;
  border: 1px solid #d1d9e6;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  animation: bounce 1.4s infinite ease-in-out both;
}

.typing-indicator span:nth-child(1) {
  animation-delay: -0.32s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
